*.swp
.python-version
__pycache__/
*.df
*.png
*.root
envs/
#*
.#
*~
analysis_village/numuincl/sbnd
*__pycache__*
analysis_village/numuincl/*.txt
*.cursor
analysis_village/numuincl/.agentchat
analysis_village/numuincl/logs/